body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4945 {
  position:absolute;
  left:-2px;
  top:31px;
  width:377px;
  height:629px;
  overflow:hidden;
}
#u4945_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:629px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4945_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  position:absolute;
  left:2px;
  top:1px;
  width:374px;
  height:630px;
}
#u4947 {
  position:absolute;
  left:2px;
  top:307px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:75px;
}
#u4948 {
  position:absolute;
  left:209px;
  top:100px;
  width:90px;
  height:75px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:30px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4950 {
  position:absolute;
  left:103px;
  top:110px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4952 {
  position:absolute;
  left:89px;
  top:148px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4954 {
  position:absolute;
  left:103px;
  top:243px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4956 {
  position:absolute;
  left:92px;
  top:281px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:51px;
}
#u4958 {
  position:absolute;
  left:220px;
  top:233px;
  width:64px;
  height:51px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4960 {
  position:absolute;
  left:218px;
  top:147px;
  width:70px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4961 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4962 {
  position:absolute;
  left:224px;
  top:282px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4965 {
  position:absolute;
  left:168px;
  top:485px;
  width:40px;
  height:40px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u4967 {
  position:absolute;
  left:187px;
  top:493px;
  width:2px;
  height:26px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4968 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u4969 {
  position:absolute;
  left:187px;
  top:493px;
  width:2px;
  height:26px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4970 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:-50px;
  top:-6px;
  width:424px;
  height:667px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:326px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4973 {
  position:absolute;
  left:0px;
  top:64px;
  width:373px;
  height:1px;
  color:#CCCCCC;
}
#u4974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u4977 {
  position:absolute;
  left:-1px;
  top:24px;
  width:374px;
  height:40px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u4979 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:374px;
  height:32px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4981 {
  position:absolute;
  left:-2px;
  top:32px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4982 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4983 {
  position:absolute;
  left:125px;
  top:35px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4985 {
  position:absolute;
  left:0px;
  top:193px;
  width:375px;
  height:1px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u4987 {
  position:absolute;
  left:22px;
  top:150px;
  width:1px;
  height:16px;
}
#u4987_img.selected {
}
#u4987.selected {
}
#u4988 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4990 {
  position:absolute;
  left:30px;
  top:73px;
  width:308px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4991 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u4992 {
  position:absolute;
  left:67px;
  top:79px;
  width:238px;
  height:20px;
}
#u4992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4992_input {
  font-family:'FontAwesome';
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u4993 {
  position:absolute;
  left:-10px;
  top:111px;
  width:385px;
  height:1px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4995 {
  position:absolute;
  left:3px;
  top:143px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4996 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4997 {
  position:absolute;
  left:39px;
  top:169px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4999 {
  position:absolute;
  left:40px;
  top:146px;
  width:241px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u5001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5001 {
  position:absolute;
  left:402px;
  top:92px;
  width:313px;
  height:20px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5003 {
  position:absolute;
  left:95px;
  top:602px;
  width:180px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5004 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:40px;
  top:122px;
  width:225px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u5007 {
  position:absolute;
  left:40px;
  top:121px;
  width:279px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5008 {
  position:absolute;
  left:402px;
  top:144px;
  width:83px;
  height:20px;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5010 {
  position:absolute;
  left:402px;
  top:174px;
  width:43px;
  height:20px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:278px;
  width:375px;
  height:1px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u5014 {
  position:absolute;
  left:22px;
  top:235px;
  width:1px;
  height:16px;
}
#u5014_img.selected {
}
#u5014.selected {
}
#u5015 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u5016 {
  position:absolute;
  left:3px;
  top:228px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u5017 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5018 {
  position:absolute;
  left:39px;
  top:254px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5020 {
  position:absolute;
  left:40px;
  top:231px;
  width:241px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5022 {
  position:absolute;
  left:40px;
  top:207px;
  width:225px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u5024 {
  position:absolute;
  left:39px;
  top:204px;
  width:279px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
