body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u912 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:28px;
}
#u913 {
  position:absolute;
  left:93px;
  top:30px;
  width:222px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u914 {
  position:absolute;
  left:2px;
  top:3px;
  width:218px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u915 {
  position:absolute;
  left:153px;
  top:580px;
  width:187px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u916 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u917 {
  position:absolute;
  left:75px;
  top:631px;
  width:229px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A61313;
}
#u918 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:95px;
  background:inherit;
  background-color:rgba(214, 22, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u919 {
  position:absolute;
  left:30px;
  top:220px;
  width:324px;
  height:95px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u920 {
  position:absolute;
  left:2px;
  top:28px;
  width:320px;
  word-wrap:break-word;
}
