body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u10383 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u10384 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u10385 {
  position:absolute;
  left:73px;
  top:618px;
  width:229px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u10386 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u10387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u10387 {
  position:absolute;
  left:73px;
  top:490px;
  width:229px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u10388 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u10389 {
  position:absolute;
  left:130px;
  top:158px;
  width:119px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10390 {
  position:absolute;
  left:2px;
  top:3px;
  width:115px;
  word-wrap:break-word;
}
#u10391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u10391 {
  position:absolute;
  left:44px;
  top:341px;
  width:131px;
  height:34px;
}
#u10392 {
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u10393 {
  position:absolute;
  left:73px;
  top:220px;
  width:229px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10394 {
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u10395 {
  position:absolute;
  left:106px;
  top:414px;
  width:172px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:42px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10396 {
  position:absolute;
  left:252px;
  top:341px;
  width:105px;
  height:42px;
}
#u10397 {
  position:absolute;
  left:2px;
  top:13px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
