body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6048 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u6049 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u6051 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u6052 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u6053 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u6054 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u6055 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u6056 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6057 {
  position:absolute;
  left:151px;
  top:36px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6060 {
  position:absolute;
  left:9px;
  top:120px;
  width:99px;
  height:20px;
  color:#999999;
}
#u6061 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u6062 {
  position:absolute;
  left:-19px;
  top:150px;
  width:392px;
  height:1px;
}
#u6063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6064 {
  position:absolute;
  left:10px;
  top:241px;
  width:130px;
  height:20px;
}
#u6065 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u6066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u6066 {
  position:absolute;
  left:-8px;
  top:269px;
  width:384px;
  height:1px;
}
#u6067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:82px;
}
#u6068 {
  position:absolute;
  left:9px;
  top:278px;
  width:86px;
  height:82px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:33px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070 {
  position:absolute;
  left:160px;
  top:119px;
  width:201px;
  height:25px;
}
#u6070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u6070_input {
  font-family:'FontAwesome';
}
#u6070_ann {
  position:absolute;
  left:354px;
  top:115px;
  width:1px;
  height:1px;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6071 {
  position:absolute;
  left:10px;
  top:80px;
  width:71px;
  height:20px;
  color:#999999;
}
#u6072 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6073 {
  position:absolute;
  left:199px;
  top:76px;
  width:164px;
  height:26px;
}
#u6073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u6073_input {
  font-family:'FontAwesome';
}
#u6074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u6074 {
  position:absolute;
  left:-24px;
  top:110px;
  width:392px;
  height:1px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u6076 {
  position:absolute;
  left:10px;
  top:348px;
  width:79px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u6077 {
  position:absolute;
  left:2px;
  top:-2px;
  width:75px;
  word-wrap:break-word;
}
#u6076_ann {
  position:absolute;
  left:82px;
  top:344px;
  width:1px;
  height:1px;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u6078 {
  position:absolute;
  left:401px;
  top:172px;
  width:392px;
  height:1px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6080 {
  position:absolute;
  left:9px;
  top:161px;
  width:130px;
  height:20px;
}
#u6081 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u6082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u6082 {
  position:absolute;
  left:-11px;
  top:189px;
  width:384px;
  height:1px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:274px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6084 {
  position:absolute;
  left:-2px;
  top:386px;
  width:375px;
  height:274px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:129px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6086 {
  position:absolute;
  left:102px;
  top:447px;
  width:157px;
  height:40px;
  font-size:16px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u6088 {
  position:absolute;
  left:198px;
  top:160px;
  width:149px;
  height:25px;
}
#u6088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u6088_input {
  font-family:'FontAwesome';
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u6089 {
  position:absolute;
  left:345px;
  top:158px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u6090 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6091 {
  position:absolute;
  left:11px;
  top:202px;
  width:130px;
  height:20px;
  color:#999999;
}
#u6092 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u6093 {
  position:absolute;
  left:-12px;
  top:230px;
  width:384px;
  height:1px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6095 {
  position:absolute;
  left:391px;
  top:124px;
  width:113px;
  height:20px;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:188px;
}
#u6098 {
  position:absolute;
  left:-3px;
  top:472px;
  width:376px;
  height:188px;
}
#u6099 {
  position:absolute;
  left:2px;
  top:86px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
