body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u10644 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u10645 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u10646 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:27px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10648 {
  position:absolute;
  left:405px;
  top:393px;
  width:309px;
  height:40px;
}
#u10649 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u10650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(64, 60, 57, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868581;
  text-align:left;
}
#u10650 {
  position:absolute;
  left:82px;
  top:424px;
  width:223px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868581;
  text-align:left;
}
#u10651 {
  position:absolute;
  left:2px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u10652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
  background:inherit;
  background-color:rgba(44, 40, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10652 {
  position:absolute;
  left:131px;
  top:602px;
  width:142px;
  height:27px;
}
#u10653 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
