body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:602px;
}
#u712 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u714 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u715 {
  position:absolute;
  left:120px;
  top:133px;
  width:131px;
  height:131px;
}
#u716 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
  background:inherit;
  background-color:rgba(223, 34, 31, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 34, 31, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:125px;
  top:183px;
  width:120px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 244, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u719 {
  position:absolute;
  left:177px;
  top:302px;
  width:126px;
  height:40px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u720 {
  position:absolute;
  left:2px;
  top:9px;
  width:122px;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:88px;
  top:117px;
  width:195px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u724 {
  position:absolute;
  left:17px;
  top:517px;
  width:341px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u725 {
  position:absolute;
  left:2px;
  top:11px;
  width:337px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3300FF;
}
#u726 {
  position:absolute;
  left:17px;
  top:557px;
  width:341px;
  height:42px;
  font-size:16px;
  color:#3300FF;
}
#u727 {
  position:absolute;
  left:2px;
  top:12px;
  width:337px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0033FF;
}
#u728 {
  position:absolute;
  left:17px;
  top:614px;
  width:341px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0033FF;
}
#u729 {
  position:absolute;
  left:2px;
  top:13px;
  width:337px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u730 {
  position:absolute;
  left:42px;
  top:557px;
  width:276px;
  height:1px;
}
#u731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
