body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4463 {
  position:absolute;
  left:-2px;
  top:31px;
  width:377px;
  height:629px;
  overflow:hidden;
}
#u4463_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:629px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4463_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4464 {
  position:absolute;
  left:2px;
  top:1px;
  width:374px;
  height:630px;
}
#u4465 {
  position:absolute;
  left:2px;
  top:307px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:75px;
}
#u4466 {
  position:absolute;
  left:209px;
  top:100px;
  width:90px;
  height:75px;
}
#u4467 {
  position:absolute;
  left:2px;
  top:30px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4468 {
  position:absolute;
  left:103px;
  top:110px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4469 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u4470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4470 {
  position:absolute;
  left:89px;
  top:148px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4471 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4472 {
  position:absolute;
  left:103px;
  top:243px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#7ED7FC;
  text-align:center;
}
#u4473 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u4474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4474 {
  position:absolute;
  left:92px;
  top:281px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4475 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:51px;
}
#u4476 {
  position:absolute;
  left:220px;
  top:233px;
  width:64px;
  height:51px;
}
#u4477 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4478 {
  position:absolute;
  left:218px;
  top:147px;
  width:70px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4479 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u4480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4480 {
  position:absolute;
  left:224px;
  top:282px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u4481 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4483 {
  position:absolute;
  left:168px;
  top:485px;
  width:40px;
  height:40px;
}
#u4484 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4485_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u4485 {
  position:absolute;
  left:187px;
  top:493px;
  width:2px;
  height:26px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4486 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4487_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u4487 {
  position:absolute;
  left:187px;
  top:493px;
  width:2px;
  height:26px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4488 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4489 {
  position:absolute;
  left:-50px;
  top:-6px;
  width:424px;
  height:667px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:326px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4491 {
  position:absolute;
  left:0px;
  top:64px;
  width:373px;
  height:1px;
  color:#CCCCCC;
}
#u4492 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u4495 {
  position:absolute;
  left:-1px;
  top:24px;
  width:374px;
  height:40px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u4497 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:374px;
  height:32px;
}
#u4498 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4499 {
  position:absolute;
  left:-2px;
  top:32px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4500 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u4501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4501 {
  position:absolute;
  left:137px;
  top:36px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4502 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4503 {
  position:absolute;
  left:0px;
  top:193px;
  width:375px;
  height:1px;
}
#u4504 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u4505 {
  position:absolute;
  left:22px;
  top:150px;
  width:1px;
  height:16px;
}
#u4505_img.selected {
}
#u4505.selected {
}
#u4506 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4508 {
  position:absolute;
  left:30px;
  top:73px;
  width:308px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4509 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u4510 {
  position:absolute;
  left:67px;
  top:79px;
  width:238px;
  height:20px;
}
#u4510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4510_input {
  font-family:'FontAwesome';
}
#u4511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:2px;
}
#u4511 {
  position:absolute;
  left:-10px;
  top:111px;
  width:385px;
  height:1px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:-8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4513 {
  position:absolute;
  left:3px;
  top:143px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4514 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u4515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4515 {
  position:absolute;
  left:39px;
  top:169px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4516 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4517 {
  position:absolute;
  left:40px;
  top:146px;
  width:241px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4518 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u4519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4519 {
  position:absolute;
  left:402px;
  top:92px;
  width:261px;
  height:20px;
}
#u4520 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4521 {
  position:absolute;
  left:71px;
  top:602px;
  width:206px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4522 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u4523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4523 {
  position:absolute;
  left:40px;
  top:122px;
  width:225px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4524 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u4525 {
  position:absolute;
  left:40px;
  top:119px;
  width:279px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4526 {
  position:absolute;
  left:402px;
  top:144px;
  width:222px;
  height:20px;
}
#u4527 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u4528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4528 {
  position:absolute;
  left:402px;
  top:174px;
  width:171px;
  height:20px;
}
#u4529 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u4530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4530 {
  position:absolute;
  left:0px;
  top:278px;
  width:375px;
  height:1px;
}
#u4531 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u4532 {
  position:absolute;
  left:22px;
  top:235px;
  width:1px;
  height:16px;
}
#u4532_img.selected {
}
#u4532.selected {
}
#u4533 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4534 {
  position:absolute;
  left:3px;
  top:228px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u4535 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u4536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4536 {
  position:absolute;
  left:39px;
  top:254px;
  width:255px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4537 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4538 {
  position:absolute;
  left:40px;
  top:231px;
  width:241px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4539 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u4540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4540 {
  position:absolute;
  left:40px;
  top:207px;
  width:225px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4541 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u4542 {
  position:absolute;
  left:39px;
  top:206px;
  width:279px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
