body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:588px;
}
#u9994 {
  position:absolute;
  left:0px;
  top:72px;
  width:375px;
  height:588px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:286px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u9996 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u9997 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:171px;
}
#u9998 {
  position:absolute;
  left:39px;
  top:105px;
  width:1px;
  height:170px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:77px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u10000 {
  position:absolute;
  left:36px;
  top:140px;
  width:8px;
  height:8px;
  color:#FF0000;
}
#u10001 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10002 {
  position:absolute;
  left:65px;
  top:138px;
  width:348px;
  height:36px;
}
#u10003 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u10004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u10004 {
  position:absolute;
  left:35px;
  top:214px;
  width:8px;
  height:8px;
  color:#FF0000;
}
#u10005 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10006 {
  position:absolute;
  left:65px;
  top:213px;
  width:250px;
  height:36px;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u10008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u10008 {
  position:absolute;
  left:80px;
  top:98px;
  width:295px;
  height:1px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u10010 {
  position:absolute;
  left:80px;
  top:283px;
  width:295px;
  height:1px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u10014 {
  position:absolute;
  left:-1px;
  top:28px;
  width:374px;
  height:40px;
}
#u10015 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u10016 {
  position:absolute;
  left:-1px;
  top:3px;
  width:374px;
  height:32px;
}
#u10017 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10018 {
  position:absolute;
  left:-2px;
  top:36px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10019 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u10020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10020 {
  position:absolute;
  left:132px;
  top:36px;
  width:109px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10021 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u10022 {
  position:absolute;
  left:16px;
  top:90px;
  width:65px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u10023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u10024 {
  position:absolute;
  left:16px;
  top:275px;
  width:83px;
  height:15px;
  color:#666666;
}
#u10025 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
